# 05: Membalik urutan baris dan kolom pada Data Frame

2273001 - Olivia Justine Audia

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  6  7  7  5  9
1  2  1  4  7  6
2  5  4  7  4  4
3  7  8  5  3  7
4  3  7  4  1  6

Membalik urutan kolom

In [3]:
df.loc[:, ::-1]

   E  D  C  B  A
0  9  5  7  7  6
1  6  7  4  1  2
2  4  4  7  4  5
3  7  3  5  8  7
4  6  1  4  7  3

Membalik urutan baris

In [4]:
df.loc[::-1]

   A  B  C  D  E
4  3  7  4  1  6
3  7  8  5  3  7
2  5  4  7  4  4
1  2  1  4  7  6
0  6  7  7  5  9

Membalik urutan baris dan melakukan penyesuaian ulang index

In [5]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  3  7  4  1  6
1  7  8  5  3  7
2  5  4  7  4  4
3  2  1  4  7  6
4  6  7  7  5  9