# 06: Mengganti nama (label) kolom pada Data Frame

2273001 - Olivia Justine Audia

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  3  2  7  5  4
1  2  8  8  5  9
2  7  5  8  8  1
3  6  6  4  7  1
4  9  3  2  6  8

Mengganti nama (label) untuk sebuah kolom pada Data Frame

In [3]:
df.rename(columns={'C':'Hobi'})

   A  B  Hobi  D  E
0  3  2     7  5  4
1  2  8     8  5  9
2  7  5     8  8  1
3  6  6     4  7  1
4  9  3     2  6  8

Mengganti nama (label) untuk banyak kolom pada Data Frame

In [4]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

   Nama  Alamat  C  Kota  E
0     3       2  7     5  4
1     2       8  8     5  9
2     7       5  8     8  1
3     6       6  4     7  1
4     9       3  2     6  8