# 01: Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

2273001 - Olivia Justine Audia

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  7  2  4  1  2
1  2  4  8  3  4
2  5  9  2  5  4
3  9  1  5  2  9
4  6  8  1  7  2

In [3]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

Menyertakan Prefix Kolom

In [4]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        7        2        4        1        2
1        2        4        8        3        4
2        5        9        2        5        4
3        9        1        5        2        9
4        6        8        1        7        2

Menyertakan Suffix Kolom

In [5]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        7        2        4        1        2
1        2        4        8        3        4
2        5        9        2        5        4
3        9        1        5        2        9
4        6        8        1        7        2